    body{
        background-color: #EBFFFA;
      }
      hr{
        background-color: white;
        border-style: none;
        border-top-style: dotted;
        border-width: 5px;
        border-color: red;
        width: 70%;
      }