    body{
        background-color: #FAEEE0;
      }
      hr{
        background-color: white;
        border-style: none;
        border-top-style: dotted;
        border-width: 5px;
        border-color: red;
        width: 70%;
      }

      h1{
          color: #082032;
      }
      h2{
          color: #082032;
      }
      h3{
        color: #082032;
      }

